<script>
$(function () {
    $(document).on('turbolinks:load', function () {
        if ($('#calendar').length) {
            function Calendar() {
                return $('#calendar').fullCalendar({
                });
            }
            function clearCalendar() {
                $('#calendar').html('');
            }

            $(document).on('turbolinks:load', function () {
                Calendar();
            });
            $(document).on('turbolinks:before-cache', clearCalendar);


            $('#calendar').fullCalendar({
                events: '/groups/<%=@group.id%>',
                //カレンダー上部を年月で表示させる
                titleFormat: 'YYYY年 M月',
                //曜日を日本語表示
                dayNamesShort: ['日', '月', '火', '水', '木', '金', '土'],
                //ボタンのレイアウト
                header: {
                    left: 'prev, today, next',
                    center: 'title',
                    right: 'month, agendaWeek, agendaDay, listMonth'
                },
                defaultView: 'agendaWeek',
                //終了時刻がないイベントの表示間隔
                defaultTimedEventDuration: '03:00:00',
                buttonText: {
                    prev: '<',
                    next: '>',
                    prevYear: '前年',
                    nextYear: '翌年',
                    today: '今日',
                    month: '月',
                    week: '週',
                    day: '日',
                    list: '予定リスト'
                },
                // Drag & Drop & Resize
                editable: true,
                //イベントの時間表示を２４時間に
                timeFormat: "HH:mm",
                //イベントの色を変える
                eventColor: '#87cefa',
                //イベントの文字色を変える
                eventTextColor: '#000000',
                eventRender: function(event, element) {
                    element.css("font-size", "0.8em");
                    element.css("padding", "5px");
                },
                // カレンダーへの追加でイベント保存
                navLinks: true,
                selectable: true,
                selectHelper: true,

                //作成
                select: function(start, end) {
                    var title = prompt('イベントを追加');
                    if (title) {
                        // CSRF Token
                        $.ajaxPrefilter(function(options, originalOptions, jqXHR) {
                            var token;
                            if (!options.crossDomain) {
                                token = $('meta[name="csrf-token"]').attr('content');
                                if (token) {
                                    return jqXHR.setRequestHeader('X-CSRF-Token', token);
                                }
                            }
                        });
                        $.ajax({
                            type: "post",
                            url: "/plans",
                            data: JSON.stringify({
                                title: title,
                                start_time: start.toISOString(),
                                finish_time: end.toISOString()
                            }),
                            contentType: 'application/JSON'
                        });
                    }
                },

                //ドラッグ
                eventDrop: function(info){
                    // CSRF Token
                    $.ajaxPrefilter(function(options, originalOptions, jqXHR) {
                        var token;
                        if (!options.crossDomain) {
                            token = $('meta[name="csrf-token"]').attr('content');
                            if (token) {
                                return jqXHR.setRequestHeader('X-CSRF-Token', token);
                            }
                        }
                    });
                    $.ajax({
                        type: "patch",
                        url:"plans/"+info.id,
                        data: JSON.stringify({
                            start_time: info.start.toISOString(),
                            finish_time: info.end.toISOString()
                        }),
                        contentType: 'application/JSON'
                    });
                },

                //リサイズ
                eventResize: function(eventResizeinfo){
                    // CSRF Token
                    $.ajaxPrefilter(function(options, originalOptions, jqXHR) {
                        var token;
                        if (!options.crossDomain) {
                            token = $('meta[name="csrf-token"]').attr('content');
                            if (token) {
                                return jqXHR.setRequestHeader('X-CSRF-Token', token);
                            }
                        }
                    });
                    $.ajax({
                        type: "patch",
                        url:"plans/"+eventResizeinfo.id,
                        data: JSON.stringify({
                            start_time: eventResizeinfo.start.toISOString(),
                            finish_time: eventResizeinfo.end.toISOString()
                        }),
                        contentType: 'application/JSON'
                    });
                }
            });
        }
    });
});

$(function () {
    $('.datepicker').datetimepicker({
        format: 'YYYY-MM-DD HH:mm:ss'
    });
});

$(function () {
    $('.timepicker').datetimepicker({
        format: 'HH:mm:ss'
    });
});
</script>
<div class="container px-5 px-sm-0">
    <div class="row">
        <%= link_to "このグループから脱退する", group_path(@group), method: :delete, class:"btn btn-warning", style:"margin-left:auto;"%>
    </div>
    <div class="row">
        <div class="col">
            <table class="table border">
                <tbody>
                    <tr>
                        <th class="border col-2">グループ名</th>
                        <td><%= @group.name %></td>
                        <% @users.each do |user| %>
                            <td></td>
                        <% end %>
                    </tr>
                    <tr>
                        <th class="border col-2">メンバー</th>
                        <% @users.each do |user| %>
                            <td>
                                <%= attachment_image_tag user, :profile_image, size:"40x40", format: 'jpeg', fallback: "no_image.jpg" %><br>
                                <%=link_to user.name, user_path(user), style:"color:#{user.color};"%>
                            </td>
                        <% end %>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div id='calendar'></div>
    </div>
    <div class="row">
        <div class="col-md-6 border">
            <h2>新規グループイベント</h2>
            <%= form_with model:@grplan, local:true do |f| %>

                <div style="margin-bottom:20px;">
                    <%=f.label :title, "タイトル"%><br>
                    <%= f.text_field :title, placeholder: "予定のタイトル" %>
                </div>

                <div style="margin-bottom:20px;">
                    <%=f.label :body, "メモ"%><br>
                    <%= f.text_area :body, rows:"3", placeholder: "予定の詳細や持ち物など"%>
                </div>

                <div style="margin-bottom:20px;">
                    <%=f.label :start_time, "開始時刻"%><br>
                    <%= f.text_field :start_time, id: "start_time", class: "datepicker", data: { toggle: "datetimepicker", target: '#start_time'} %>
                    <div class="input-group-append" data-target="#start_time" data-toggle="datetimepicker">
                        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                    </div>
                </div>

                <div style="margin-bottom:20px;">
                    <%=f.label :finish_time, "終了時刻"%><br>
                    <%= f.text_field :finish_time, id: "finish_time", class: "datepicker", data: { toggle: "datetimepicker", target: '#finish_time'} %>
                    <div class="input-group-append" data-target="#finish_time" data-toggle="datetimepicker">
                        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                    </div>
                </div>
                <%= f.submit '予定の作成', class:"btn btn-lg btn-block btn-info mt-4" %>
            <% end %>
        </div>

        <div class="col-md-6 border">

            <h2>繰り返しグループイベント</h2>

            <%= form_with model: @grplan, local:true do |fr| %>

                <div style="margin-bottom:20px;">
                    <%=fr.label :title, "タイトル"%><br>
                    <%= fr.text_field :title, placeholder: "繰り返しイベントのタイトル" %>
                </div>

                <div style="margin-bottom:20px;">
                    <%=fr.label :title, "メモ"%><br>
                    <%= fr.text_area :body, rows:"3", placeholder: "繰り返しイベントの詳細や持ち物など" %>
                </div>

                <div style="margin-bottom:20px;">
                    <%=fr.label :title, "開始時刻"%><br>
                    <%= fr.text_field :start_time_dow, id: "start_time_dow", class: "timepicker", data: { toggle: "datetimepicker", target: '#start_time_dow'} %>
                    <div class="input-group-append" data-target="#start_time_dow" data-toggle="datetimepicker">
                        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                    </div>
                </div>

                <div style="margin-bottom:20px;">
                    <%=fr.label :title, "終了時刻"%><br>
                    <%= fr.text_field :finish_time_dow, id: "finish_time_dow", class: "timepicker", data: { toggle: "datetimepicker", target: '#finish_time_dow'} %>
                    <div class="input-group-append" data-target="#finish_time_dow" data-toggle="datetimepicker">
                        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                    </div>
                </div>

                <div style="margin-bottom:20px;">
                    <%=fr.label :title, "繰り返しの曜日"%><br>
                    <%= fr.select :dow, [["日", '0'], ["月", '1'], ["火", '2'], ["水", '3'], ["木", '4'], ["金", '5'], ["土", '6']] %>
                </div>

                <div style="margin-bottom:20px;">
                    <%=fr.label :ifrepeat, "繰り返しイベントです(確認)"%><br>
                    <%= fr.select :ifrepeat, [["いいえ", 0], ["はい", 1]] %>
                </div>

                <%= fr.submit '予定の作成', class:"btn btn-lg btn-block btn-info mt-4" %>
            <% end %>
        </div>
    </div>
</div>

