<div class="container">
    <div class="row ">
        <div class="mx-auto">
            <h2><strong>ユーザー情報の編集</strong></h2>
            <% if @user.errors.any? %>
                <h2><%= @user.errors.count %>件のerrorが発生しました</h2>
                <ul>
                    <%= @user.errors.full_messages.each do |message| %>
                        <li><%= message %></li>
                    <% end %>
                </ul>
            <% end %>

            <%= form_with model:@user, local:true do |f| %>
            <div style="margin: 10px; background-color: #F0F0FF">
                <h4>ニックネーム<span style="color: red;">(必須)</span></h4>
                <%=f.text_field :name %>
            </div>
            <div style="margin: 10px; background-color: #F0F0FF">
                <h4>プロフィール画像</h4>
                <%= f.attachment_field :profile_image, placeholder: "jpegファイルのみ対応です。" %>
            </div>
            <div style="margin: 10px; background-color: #F0F0FF">
                <h4>自己紹介</h4>
                <%=f.text_area :introduction %>
            </div>
            <div style="margin: 10px; background-color: #F0F0FF">
                <h4>イメージカラー<span style="color: red;">(必須)</span></h4>
                <%= f.color_field :color %>
            </div>
                <%=f.submit '送信', class:"btn btn-lg btn-block btn-info mt-4" %>
            <% end %>
        </div>
    </div>
</div>