<script>
  $(function () {
    $('.datepicker').datetimepicker({
      format: 'YYYY-MM-DD HH:mm:ss'
    });
  });

  $(function () {
    $('.timepicker').datetimepicker({
      format: 'HH:mm:ss'
    });
  });
</script>

<div class="container px-5 px-sm-0">
    <div class="row">
        <div class="col-md-6 border">
            <h2>新規イベント</h2>
            <%= form_with model: @plan, local:true do |f| %>

                <div style="margin-bottom:20px;">
                    <%=f.label :title, "タイトル"%><br>
                    <%= f.text_field :title, placeholder: "予定のタイトル" %>
                </div>

                <div style="margin-bottom:20px;">
                    <%=f.label :body, "メモ"%><br>
                    <%= f.text_area :body, rows:"3", placeholder: "予定の詳細や持ち物など"%>
                </div>

                <div style="margin-bottom:20px;">
                    <%=f.label :start_time, "開始時刻"%><br>
                    <%= f.text_field :start_time, id: "start_time", class: "datepicker", data: { toggle: "datetimepicker", target: '#start_time'} %>
                    <div class="input-group-append" data-target="#start_time" data-toggle="datetimepicker">
                        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                    </div>
                </div>

                <div style="margin-bottom:20px;">
                    <%=f.label :finish_time, "終了時刻"%><br>
                    <%= f.text_field :finish_time, id: "finish_time", class: "datepicker", data: { toggle: "datetimepicker", target: '#finish_time'} %>
                    <div class="input-group-append" data-target="#finish_time" data-toggle="datetimepicker">
                        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                    </div>
                </div>
                <%= f.submit '予定の作成', class:"btn btn-lg btn-block btn-info mt-4" %>
            <% end %>
        </div>

        <div class="col-md-6 border">

            <h2>繰り返しイベント</h2>

            <%= form_with model: @plan, local:true do |fr| %>

                <div style="margin-bottom:20px;">
                    <%=fr.label :title, "タイトル"%><br>
                    <%= fr.text_field :title, placeholder: "繰り返しイベントのタイトル" %>
                </div>

                <div style="margin-bottom:20px;">
                    <%=fr.label :title, "メモ"%><br>
                    <%= fr.text_area :body, rows:"3", placeholder: "繰り返しイベントの詳細や持ち物など" %>
                </div>

                <div style="margin-bottom:20px;">
                    <%=fr.label :title, "開始時刻"%><br>
                    <%= fr.text_field :start_time_dow, id: "start_time_dow", class: "timepicker", data: { toggle: "datetimepicker", target: '#start_time_dow'} %>
                    <div class="input-group-append" data-target="#start_time_dow" data-toggle="datetimepicker">
                        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                    </div>
                </div>

                <div style="margin-bottom:20px;">
                    <%=fr.label :title, "終了時刻"%><br>
                    <%= fr.text_field :finish_time_dow, id: "finish_time_dow", class: "timepicker", data: { toggle: "datetimepicker", target: '#finish_time_dow'} %>
                    <div class="input-group-append" data-target="#finish_time_dow" data-toggle="datetimepicker">
                        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                    </div>
                </div>

                <div style="margin-bottom:20px;">
                    <%=fr.label :title, "繰り返しの曜日"%><br>
                    <%= fr.select :dow, [["日", '0'], ["月", '1'], ["火", '2'], ["水", '3'], ["木", '4'], ["金", '5'], ["土", '6']] %>
                </div>

                <div style="margin-bottom:20px;">
                    <%=fr.label :ifrepeat, "繰り返しイベントです(確認)"%><br>
                    <%= fr.select :ifrepeat, [["いいえ", 0], ["はい", 1]] %>
                </div>

                <%= fr.submit '予定の作成', class:"btn btn-lg btn-block btn-info mt-4" %>
            <% end %>
        </div>
    </div>
    <%= link_to 'back', plans_path %>
</div>